<% include partials/header %>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Payment Successful! 🎉🎉🎉
            </div>
            <div class="card-body">
                <h5 class="card-title">You tickets are now ready</h5>
                <p class="card-text">Your payment was made from AMEX card, to check your transactions please visit your orders page</p>
                <a href="/" class="btn btn-primary">Back to home</a>
            </div>
            <div class="card-footer text-muted">
                Just Now
            </div>
        </div>
    </div>
<% include partials/footer %>
